//- Variables header
-let pageTitle = ''
-let descripcion = ''
-let headerImgPath = '/img/pcBanner2.jpg'

//- Variables formulario
-let formPath = ''
-let formBtn = 'Registrar'
-let nombre= ''
-let apellidos= ''
-let email= ''
-let telefono= ''
-let newsletter= 'false'
-let condiciones= 'false'

//- Variables para añadir pestañas al navbar 
-
  let pages = [
    {
      name: 'Main',
      link: '/main/index'
    },
    {
      name: 'About',
      link: '/main/about'
    },
    {
      name: 'Clientes',
      link: '/client/index'
    },
    {
      name: 'Nuevo Cliente',
      link: '/client/new'
    },   
  ]