
-let pageTitle = ''
-let formPath = ''
-let formBtn = 'Registrar'
-let descripcion = ''
-let headerImgPath = '/img/pcBanner2.jpg'
-let nombre= ''
-let apellidos= ''
-let email= ''
-let telefono= ''
-let newsletter= 'true'
-let condiciones= 'true'
-
  let pages = [
    {
      name: 'Main',
      link: '/main/index'
    },
    {
      name: 'About',
      link: '/main/about'
    },
    {
      name: 'Clientes',
      link: '/client/index'
    },
    {
      name: 'Nuevo Cliente',
      link: '/client/new'
    },   
  ]