extends ../layout.pug 


block content 
    h2 Listado de clientes 
    hr
    table.table 
        thead 
            tr
                th Nombre Completo
                th Email
                th Cuota
                th Activo
                th Acciones
        tbody 
            each cliente in clientes 
                tr 
                    td= cliente.nombreCompleto
                    td= cliente.email
                    td #{cliente.cuota}$ 
                    td= cliente.activo ? 'Si' : 'No'
                    td  
                        a.btn.btn-sm.btn-info(href='/clientes/editar/' + cliente.id) Editar
                        a.btn.btn-sm.btn-danger.ml-2(href='/clientes/delete/' + cliente.id, onClick='return confirm("El cliente se eliminara ¿Esta seguro?")') Eliminar          