extends ../config/template
append config
  -pageTitle = 'Error'
  -descripcion= 'Página no encontrada'
  -headerImgPath = '/img/err404.jpg'
  
block main
  .container-error
    h1= message
    h2= error.status
