extends ../../config/template
append config
  -pageTitle = title
  -descripcion = 'Pagina principal de la web'
  -headerImgPath = '/img/pcBanner3.jpg'
  
block main
  include ../../includes/navBar
  include ../../includes/header
