extends ../../config/template
append config
  -pageTitle = title
  -descripcion = 'Página principal de la web'
  -headerImgPath = '/img/pcBanner3.jpg'
  
block main
  .container-main
    include:markdown-it ../../../README.md
