
// Footer
footer.bg-dark.text-center.text-white
  .container.p-4.pb-0
    section.mb-4
      // Facebook
      a.btn.btn-outline-light.btn-floating.m-1.rounded-circle(href='#!', role='button')
        i.fab.fa-facebook-f
      // Twitter
      a.btn.btn-outline-light.btn-floating.m-1.rounded-circle(href='#!', role='button')
        i.fab.fa-twitter
      // Linkedin
      a.btn.btn-outline-light.btn-floating.m-1.rounded-circle(href='#!', role='button')
        i.fab.fa-linkedin-in
      // Github
      a.btn.btn-outline-light.btn-floating.m-1.rounded-circle(href='#!', role='button')
        i.fab.fa-github
  .text-center.p-3
    | &copy; 2021
    a.text-white(href='#!')='  Dario MF'
